<section class="content-header">
    <h2>
        Estante
        <a [routerLink]="['insert']" class="action-link pull-right">
            <i class="fa fa-plus"></i>
        </a>
        <a (click)="toggleSearch()" class="action-link pull-right">
            <span *ngIf="inputSearch.value"><small>"{{inputSearch.value}}" </small></span><i class="fa fa-search"></i>
        </a>

    </h2>

    <div class="row">
        <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
            <form [formGroup]="searchForm">
            <input type="text" #inputSearch formControlName="searchControl" 
                    class="form-control" placeholder="O que você está procurando?">
            </form>
        </div>
    </div>
</section>

<section class="content">

    <div class="row">
        <div *ngFor="let book of books; let i = index">
            <div class="col-md-3">
                <ev-book [book]="book"></ev-book>
            </div>
            <div class="clearfix" *ngIf="i > 0 && i%3 === 0"></div>
        </div>
    </div>

</section>
